body {
	background-color: #55555a;
	color: white;
	text-align: center;
	transition: 0.5s;
}
.bar {
	width: 90%;
	height: 20px;
	border: 2px solid white;
	border-radius: 3px;
	margin: auto;
	box-shadow: 4px 4px #444
}
.progress {
	width: 50%;
	height: 100%;
	background-color: #9c9ce9;
	transition: 0.5s;
	transition-timing-function: ease-out;
}
.block {
	display: inline-block;
	width: 35%;
	vertical-align: top;
}
button {
	height: 35px;
	width: 70px;
	background-color: gray;
	border: 1px solid white;
	opacity: 0.8;
	transition: 0.2s;
	box-shadow: 4px 4px #444;
	color: white;
	font-size: 16px;
}
button:hover:not(:disabled) {
	background-color: lightgray;
	color: black;
	cursor: pointer;
}
button:active:not(:disabled) {
	opacity: 1;
	transform: translateY(2px);
	box-shadow: 0px 0px;
}
button:disabled {
	background-color: lightgray;
	opacity: 0.5;
	transform: translateY(2px);
	box-shadow: 0px 0px;
}
.wide {
	width: 100%;
	height: 20px;
	margin-top: 20px;
	height: 30px;
	font-size: 20px;
}
.filler {
	width: 5%;
}
p {
	font-size: 20px;
}
hr {
	margin: 30px;
	border: 2px solid white;
	border-left: 0px;
	border-right: 0px;
	height: 4px;
}
.locked {
	opacity: 0;
	transition: 1s;
}
table {
	margin: auto;
	font-size: 20px;
	text-align: left;
}
.value {
	width: 150px;
	height: 25px;
	padding: 5px;
	box-shadow: 2px 2px #444;
	background-color: #66666a;
	transition: 0.5s;
}
.small-value {
	width: 115px;
}
.xs-value {
	width: 35px;
	text-align: center;
}
.large-value {
	width: 197px;
}
.small {
	width: 35px;
	padding: 0;
}
.large {
	width: 150px;
	padding: 0;
}
.add {
	display: none;
	opacity: 1;
}
.dev {
	display: none;
	position: relative;
}
h2 {
	font-size: 24px;
	margin: 20px;
}
.money-display {
	font-size: 24px;
	text-align: center;
	margin-top: 20px;
}
.trans-color {
	transition: color 0.5s;
}